
/PROGRAMACION/3er Trimestre/TEMA 12-Inteligencia Artificial/002-Entrenamiento/venv
/PROGRAMACION/3er Trimestre/TEMA 12-Inteligencia Artificial/002-Entrenamiento/qwen25-05b-jvc
/PROGRAMACION/3er Trimestre/TEMA 12-Inteligencia Artificial/003-Bases de datos vectoriales/videotutoriales
/PROGRAMACION/3er Trimestre/TEMA 12-Inteligencia Artificial/003-Bases de datos vectoriales/chroma_data
