
/PROGRAMACION/3er Trimestre/TEMA 12-Inteligencia Artificial/002-Entrenamiento/venv
/PROGRAMACION/3er Trimestre/TEMA 12-Inteligencia Artificial/002-Entrenamiento/qwen25-05b-jvc
/PROGRAMACION/3er Trimestre/TEMA 12-Inteligencia Artificial/003-Bases de datos vectoriales/videotutoriales
/PROGRAMACION/3er Trimestre/TEMA 12-Inteligencia Artificial/003-Bases de datos vectoriales/chroma_data
/PROGRAMACION/3er Trimestre/TEMA 12-Inteligencia Artificial/009-Entrenamiento 2/lora-cpu-lowram/Qwen_Qwen2.5-0.5B-Instruct-merged
/PROGRAMACION/3er Trimestre/TEMA 12-Inteligencia Artificial/009-Entrenamiento 2/lora-cpu-lowram/Qwen_Qwen2.5-0.5B-Instruct
PROGRAMACION/2º Trimestre/TEMA 7-Utilización avanzada de clases/004-Clases y métodos abstractos y finales/101-Ejercicios/019-Desfase de 90 grados.html
