body,html{
	width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

header,main,footer{
	width:800px;
    margin:auto;
}

header,footer{
	text-align:center;
}

main{
    display:grid;
    grid-template-columns:repeat(2,100fr);
    gap:20px;;
}

#nuevo{
    position:absolute;
    bottom:20px;
    right:20px;
    background:teal;
    color:white;
    width:30px;
    height:30px;
    border-radius:40px;
    text-align:center;
    font-size:30px;
    line-height:30px;
    text-decoration:none;
    font-weight:bold;
}