<!DOCTYPE html>
<html>
    <head>
        <style>
            .npc{width:50px;height:50px;background:red;border-radius:50px;position:absolute;}
        </style>
    </head>
    <body>
        <main>

        </main>
        <script>
            // Cojo el contenedor
            let escenario = document.querySelector("main")
            // Me conecto a una api, pido datos, los convierto a json, y los lanzo
            fetch("http://127.0.0.1:5000/api")
            .then(function(respuesta){return respuesta.json();})
            .then(function(datos){
                console.log(datos)
                // Para cada NPC:
                datos.forEach(function(npc){
                    // Creo un nuevo elemento en HTML
                    let personaje = document.createElement("div")
                    // Le añado una clase CSS
                    personaje.classList.add("npc")
                    // La posición X en HTML será la posición X que viene de Python
                    personaje.style.left = npc.posx+"px"
                    // La posición Y en HTML será la posición Y que viene de Python
                    personaje.style.top = npc.posy+"px"
                    escenario.appendChild(personaje)
                })
            })
        </script>
    </body>
</html>